* {
    /*Selector: ¡todo!*/
    margin: 0;
    padding: 0;
}
body {
    /*Selector: etiqueta*/
    background-color: #f4dcca;
}
.header {
    /*Selector: clase*/
    margin-top: 50px;
    margin-bottom: 50px;
}
.header h1 {
    /*Selector: en cascada una clase y una etiqueta*/
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
    color: #9c380d;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
    /*Selector: etiqueta*/
    max-width: 70%;
    margin: 0 auto;
}
.intro {
    /*Selector: clase*/
    margin-bottom: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(30, 27, 27);
    text-align: justify;
}

.intro-2{
    /*Selector: clase*/
    margin-bottom: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(30, 27, 27);
    text-align: justify;
}

ul.chef_list {
    /*Selector combinando etiqueta + clase*/
    list-style: none;
    text-align: center;
}
.chef_list li {
    /*Selector: en cascada una clase y una etiqueta*/
    display: inline-block;
    margin: 0px 16px;
    margin-bottom: 16px;
}
.chef_list li a {
    /*Selector: en cascada una clase, una etiqueta y otra etiqueta*/
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
}

.sara a {
    /*Selector: en cascada una clase y una etiqueta*/
    background-color: #4b90cb;
    color: antiquewhite;
}

.alvaro a {
    /*Selector: en cascada una clase y una etiqueta*/
    background-color: #4374b4;
    color: antiquewhite;
}

.monica a {
    /*Selector: en cascada una clase y una etiqueta*/
    background-color: #2ea69e;
    color: antiquewhite;
}

.jeff a {
    /*Selector: en cascada una clase y una etiqueta*/
    background-color: #156962;
    color: antiquewhite;
}

footer {
    /*Selector: etiqueta*/
    margin-top: 50px;
    text-align: center;
}

.jairo a{
    color: #1683b5;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*{
    margin: 0;
    padding: 0;
}


.loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .panWrapper {
    width: 200px;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
  }
  
  .pan {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    animation: cooking 1.7s infinite;
  }
  @keyframes cooking {
    0% {
      transform: rotate(0deg);
      transform-origin: top right;
    }
    10% {
      transform: rotate(-4deg);
      transform-origin: top right;
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .food {
    position: absolute;
    width: 40%;
    height: 6px;
    background: linear-gradient(to bottom, rgb(82, 33, 33), rgb(200, 106, 106));
    left: 10px;
    border-radius: 50%;
    animation: flip 1.7s infinite;
    z-index: 2;
  }
  @keyframes flip {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-100px) rotate(180deg);
    }
    100% {
      transform: translateY(0px) rotate(360deg);
    }
  }
  .panBase {
    z-index: 3;
    width: 50%;
    height: 22px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: linear-gradient(to top, rgb(3, 156, 156), rgb(10, 191, 191));
  }
  .panHandle {
    width: 40%;
    background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(74, 74, 74));
    height: 10px;
    border-radius: 10px;
  }
  .panShadow {
    width: 70px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.21);
    margin-left: 15px;
    border-radius: 10px;
    animation: shadow 1.7s infinite;
    filter: blur(5px);
  }
  @keyframes shadow {
    0% {
      transform: scaleX(0.7);
    }
    50% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0.7);
    }
  }
  